.thread {
    width:300px;
}

.thread img {
    width:300px;
}

.time_line_row_template {
    display: none;
}

.time_line {
    width:500px;
    background:azure;
}

.icon {
    display: inline-block;
}

.icon img {
    width:30px;
    height:30px
}

.content {
    display: inline-block;
    vertical-align: top;
}

#btn {
    border-radius: 40px;
    background-color: aqua;
    color:white;
    transition:all 0.3s ease 0s;
}
#btn:hover {
    background-color: red;
    color:black;
    opacity:0.6;
    transform:translateY(-0.1875em);
}





header {
    width:100%;
    height:60px;
    background-color:black;
    text-align: center;
}

header ul {
    float:left;
    line-height:40px;
}

header ul li {
    float: left;
    list-style: none;
    padding-right: 100px;
    color:white;
    font-size:18px;
    font-family: cursive;
}

h1 {
    text-align: center;
    color:#00aeef;
    font-family: cursive;
}

h2 {
    color:#00aeef;
    font-family: cursive;
}

li {
    font-family: cursive;
}

.main {
    margin-left: auto;
    margin-right: auto;
}

.left {
    float:left;
    width: 70%;
}

.right {
    float:left;
    width:30%;
}

.right1 ul{
    background-color: #f1f8ff;
    box-shadow:0px 0px 0px 10px #f1f8ff;
    border: dashed 2px #668ad8;
    border-radius: 9px;
    margin-left: 10px;
    margin-right: 10px;
    padding:0.5em 0.5em 0.5em 2em;
}

.right2 ul {
    padding:0;
    posirion:relative;
}

.right2 ul li {
    color:#2d8fdd;
    border-left: solid 6px #2d8fdd;
    background:#f1f8ff;
    margin-bottom: 3px;
    line-height: 1.5px;
    padding:0.5em;
    list-style-type:none!important;
}

.right3 ul {
    color:#668ad8;
    border:double 5px #668ad8;
    backgroud:#f1f8ff;
    padding:0.5em 0.5em 0.5em 2em;
}

footer {
    clear:left;
    width:100%;
    height:60px;
    color:white;
    background-color: black;
    text-align: center;
    line-height:60px;
}











