

div.carousel-caption{
    color:white;
}

div.opacity {

}

div.desc{
    text-align: center;
    margin-top:80px;
}

div.card-deck{
    margin-top:80px;
}

div.container-m {
    margin-top: 80px;
}

div.container {
    margin-top: 80px;
}

img.img-cover {
    height:300px;
    width:100%;
    object-fit:cover;
}


/*詳細ページ*/
div.card {
    text-align: center;
    margin-top: 80px;
}

/*共通*/

footer.footer {
    background-color:#343a40;
    color:#fff;
    text-align: center;
    margin-top:80px;
}