<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <link rel="stylesheet" href="app/views/sample/stylesheet.scss">
  <title>トップページ</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="top">〜メンズファッション〜</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="top">HOME<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          MENU
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="top?news_type=fassion">・ファッションニュース</a>
          <a class="dropdown-item" href="top?news_type=shoes">・革靴</a>
          <a class="dropdown-item" href="top?news_type=bag">・革製品（小物）</a>
          <a class="dropdown-item" href="top?news_type=watch">・時計</a>
<!--          <a class="dropdown-item" href="top?news_type=fassion">ヘアスタイル</a>-->
          <a class="dropdown-item" href="top?news_type=health">・メンズ美容</a>
<!--          <a class="dropdown-item" href="top?news_type=fassion">映画特集</a>-->
          <!--                    <div class="dropdown-divider"></div>-->
          <!--                    <a class="dropdown-item" href="#">Something else here</a>-->
        </div>
      </li>
      <!--            <li class="nav-item">-->
      <!--                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">CONTACT</a>-->
      <!--            </li>-->
    </ul>
    <!--        <form class="form-inline my-2 my-lg-0">-->
    <!--            <input class="form-control mr-sm-2" type="search" placeholder="メールアドレス" aria-label="Search">-->
    <!--            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">会員登録</button>-->
    <!--        </form>-->
  </div>
</nav>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <!-- インジケータの設定 -->
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <!-- スライドさせる画像の設定 -->
  <div class="carousel-inner">
    <div class="carousel-item active"data-interval="5000">
      <img class="d-block w-100 opacity" src="<%=image_path("suit1.jpg")%>" alt="first slide">
      <div class="carousel-caption d-none d-md-block">
        <h1 class="display-3">〜メンズファッション〜<br>注目ニュース</h1>
        <p class="lead">〜最新のトレンドをチェックしよう〜</p>
        <!--                <button type ="submit" class="btn btn-success btb-lg">送信</button>-->
      </div>
    </div><!-- /.carousel-item -->
    <div class="carousel-item">
      <img class="d-block w-100 opacity" src="<%=image_path("shoes1.jpg")%>" alt="second slide">
      <div class="carousel-caption d-none d-md-block">
        <h1 class="display-3">〜メンズファッション〜<br>注目ニュース</h1>
        <p class="lead">〜最新のトレンドをチェックしよう〜</p>
        <!--                <button type ="submit" class="btn btn-success btb-lg">送信</button>-->
      </div>

    </div><!-- /.carousel-item -->
    <div class="carousel-item">
      <img class="d-block w-100 opacity" src="<%=image_path("watch2.jpg")%>" alt="third slide">
      <div class="carousel-caption d-none d-md-block">
        <h1 class="display-3">〜メンズファッション〜<br>注目ニュース</h1>
        <p class="lead">〜最新のトレンドをチェックしよう〜</p>
        <!--                <button type ="submit" class="btn btn-success btb-lg">送信</button>-->
      </div>

    </div><!-- /.carousel-item -->
  </div><!-- /.carousel-inner -->
  <!-- スライドコントロールの設定 -->
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">前へ</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">次へ</span>
  </a>
</div><!-- /.carousel -->

<div class="container desc card-area">
  <h2>〜このサイトで得られる情報〜</h2>
  <p>メンズファッション/革靴/革製品/時計/メンズ美容を中心に情報を配信します。<br>
    注目記事を今すぐチェック！
  </p>
</div>
<!--<div class="main">-->
<!--  <div class="row">-->
<!--    <div class="col-sm-4 col-md-4">　　</div>-->
<!--    <div class="col-sm-4 col-md-4">　　</div>-->
<!--    <div class="col-sm-4 col-md-4"> 　 </div>-->
<!--  </div>-->
  <%@news_lists=@news_lists.select{|n|n["image"]!=""}
  %>
  <div class="card-deck">
  <%@news_lists.each.with_index(1) { |news,i|%>
<!--    No:<%#=i %>-->
     <div class="card " style="width: 18rem;text-align: center">
      <img class="card-img-top" src="<%=news["image"]%>" style="height:232px;object-fit:cover;" alt="カードの画像">
      <div class="card-body">
        <h5 class="card-title"><%=news["title"]%></h5>
        <p class="card-text"><%=raw CGI.unescapeHTML(news["description"])%></p>
        <a href="detail?id=<%=news["id"]%>" class="btn btn-primary">記事内容はこちら</a>
      </div>
    </div>
    <% if i%3 ==0 %>
        </div><br><div class="card-deck">
    <%end%>
    <%break if i==9 %>
  <%}%>
</div>
<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col-md-4"><img src="app/assets/images/suit1.jpg" class="img-fluid img-cover"></div>-->
<!--    <div class="col-md-8">-->
<!--      <h1>過去閲覧サイト（仮）</h1>-->
<!--      <p>記事内容-->
<!--      </p>-->
<!--      <button type="button" class="btn btn-outline-success btn-sm">記事内容はこちら</button>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col-md-4"><img src="app/assets/images/suit1.jpg" class="img-fluid img-cover"></div>-->
<!--    <div class="col-md-8">-->
<!--      <h1>過去閲覧サイト（仮）</h1>-->
<!--      <p>記事内容-->
<!--      </p>-->
<!--      <button type="button" class="btn btn-outline-success btn-sm">記事内容はこちら</button>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col-md-4"><img src="app/assets/images/suit1.jpg" class="img-fluid img-cover"></div>-->
<!--    <div class="col-md-8">-->
<!--      <h1>過去閲覧サイト（仮）</h1>-->
<!--      <p>記事内容-->
<!--      </p>-->
<!--      <button type="button" class="btn btn-outline-success btn-sm">記事内容はこちら</button>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<footer class="footer">〜　メンズファッション　〜</footer>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>