body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

.container {
  width:1170px;
  padding:0 15px;
  margin:0 auto;
}

.top-wrapper {
  padding-top:180px;
  padding-bottom:400px;
  background-image:url(./img/top.jpg);
  background-size:cover;
  color:red;
  text-align:center;
}

.top-wrapper h1{
  opacity:0.5;
  font-size:45px;
  letter-spacing:5px;
}

.top-wrapper p{

}

.btn {
  padding:8px 24px;
  color:white;
  display:inline-block;
  opacity:0.8;
  border-radius:4px;
}

.btn:hover{
  opacity:1;
}

.signup{
  background-color:#239b76;
}

.facebook{
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter{
  background-color: #55acee;
}

.btc-wrapper {
  margin:20px;
}

.btn-wrapper p{
  margin:10px;
}

.fa {
  margin-right:5px;
}

header {
  height:65px;
  background-color: rgba(34,49,52,0.9);
}

.header-left {
  float:left;
}

.header-right {
  float:right;
  background-color: (255,255,255,0.3);
  transition:all 0.5s;
}

.header-right:hover{
  background-color: rgba(255,255,255,0.5);
}

.header-right a{
  line-height:65px;
  padding:0 25px;
  color:whire;
  display:block;
}

.lesson-wrapper {
  height:500px;
  padding-bottom:80px;
  background-color: #f7f7f7;
}

.heading {
  padding-top: 60px;
  padding-bottom: 30px;
  color:#5f5d60;
}

.heading h2{
  font-weight:normal;
}

.lesson {
  float:left;
  width:25%;
  height:50%;
}

footer p {
  color:#b3aeb5;
  font-size:12px;
}

footr {
  padding-top:30px;
}