html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
}

li {
  list-style: none;
}
/*写経はここからスタート*/
.header-list li{
  float:left;
  padding:33px 20px;
}

.header-logo {
  float:left;
  padding:20px 40px;
  font-size:36px;
}

.header {
  background-color:#26d0c9;
  color:#fff;
  height:90px;
}

.main {
  padding-top:100px;
  padding-right:80px;
  padding-left:80px;
}

.copy-container h1 {
  font-size:140px;
}

.copy-container h2 {
  font-size:60px;
}

.copy-container span {
  color:#ff4a4a;
}

.section-title {
  border-bottom:2px solid #dee7ec;
  font-size:28px;
  padding-bottom:15px;
  margin-bottom:50px;
}

.contents {
  height:500px;
  margin-top:100px
}

.contents-item {
  float:left;
  margin-right:40px;
}

.contents-item p {
  font-size:24px;
  margin-top:30px;
}

input,textarea {
  width:400px;
  margin-top:10px;
  margin-bottom :30px;
  padding:20px;
  font-size:18px;
  border:1px solid #dee7ec;
}

.contact-submit {
  background-color:#dee7ec;
  color:#889eab
}

.contact-form {
  padding-top:100px;
  padding-bottom:100px;
}

.footer {
  background-color:#2f5167;
  color:#fff;
  height:120px;
  padding:40px;
  margin-right:-70px;
  margin-left:-100px;
}

.footer-logo {
  float:left;
  font-size:32px;
}

.footer-list {
  float:right;
}

.footer-list li {
  padding-bottom:20px;
}